<nav class="navbar">
  <div class="nav-left">
    <a class="navbar-brand" routerLink="/">RetailApp</a>
  </div>

  <div class="nav-right" *ngIf="!isLoggedIn">
    <button class="nav-link login-btn" routerLink="/login">Login</button>
    <button class="nav-link signup-btn" routerLink="/signup">Signup</button>
  </div>

  <div class="nav-right" *ngIf="isLoggedIn">
    <a class="nav-link" routerLink="/PurchaseRequest">Purchase Requests</a>

    <a class="nav-link" routerLink="/pr-create" *ngIf="userRole === 'Seller'">Create PR</a>

    <a class="nav-link" routerLink="/admin" *ngIf="userRole === 'Admin'">Admin Dashboard</a>

    <a class="nav-link" routerLink="/dashboard" *ngIf="userRole === 'Manager'">Dashboard</a>

    <a class="nav-link" routerLink="/stock" *ngIf="userRole === 'Manager'">Stock</a>

    <a class="nav-link" routerLink="/reports" *ngIf="userRole === 'Manager'"> Reports </a>

    <button class="nav-link logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>
