.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  border-bottom: 2px solid #000000;
  background: #000;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-link {
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.login-btn {
  background: #4ab928;
  padding: 4px 8px;
  border-radius: 4px;
}
.signup-btn {
  background: #007bff;
  padding: 4px 8px;
  border-radius: 4px;
}

.logout-btn {
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  background: #c22929;
}
