<nav class="navbar">
  <div>
    <ul style="display: flex">
      <a class="navbar-brand" routerLink="/">RetailApp</a>
      <!-- Not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <div class="nav-item"><button class="nav-link" routerLink="/login">Login</button></div>
        <div class="nav-item"><button class="nav-link" routerLink="/signup">Signup</button></div>
      </ng-container>

      <!-- logged in -->

      <ng-container *ngIf="isLoggedIn">
        <div class="nav-item">
          <a class="nav-link" routerLink="/PurchaseRequest">Purchase Requests</a>
        </div>
        <!-- SELLER ONLY -->
        <div class="nav-item" *ngIf="userRole === 'Seller'">
          <a class="nav-link" routerLink="/pr-create">Create PR</a>
        </div>

        <!-- ADMIN ONLY -->
        <div class="nav-item" *ngIf="userRole === 'Admin'">
          <a class="nav-link" routerLink="/admin">Admin Dashboard</a>
        </div>

        <!-- MANAGER ONLY -->
        <div class="nav-item" *ngIf="userRole === 'Manager'">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </div>

        <div class="nav-item" *ngIf="userRole === 'Manager'">
          <a class="nav-link" routerLink="/stock">Stock</a>
        </div>

        <!-- navbar.component.html -->
        <div class="nav-item" *ngIf="userRole === 'Manager'">
          <a class="nav-link" routerLink="/reports"> <i class="bi bi-bar-chart"></i> Reports </a>
        </div>

        <div class="nav-item">
          <button class="nav-link logout-btn" (click)="logout()">Logout</button>
        </div>
      </ng-container>
    </ul>
  </div>
</nav>
